body {
    font: 12px/1.5 tahoma, arial, "宋体b8b\4f53";
}

.search {
    margin: 50px;
}

a {
    color: #3e3e3e;
    font-size: 12px;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}


.search-panel {
    position: relative;
    zoom: 1;
    float: left;
    width: 560px
}

.search-panel-fields {
    height: 33px;
    position: relative;
    zoom: 1;
    background: #e6e6e6;
    margin-right: 73px;
}


.search-panel-fields label {
    position: absolute;
    left: 15px;
    top: 8px;
    z-index: 1;
    color: #999;
    cursor: pointer;
}

.search-panel-fields input {
    font-size: 14px;
    position: absolute;
    left: 3px;
    top: 3px;
    height: 18px;
    line-height: 18px;
    padding: 4px 0;
    background: #fff;
    vertical-align: middle;
    border: 0 none;
    border-top: 1px solid #f5f5f5;
}
.search-panel .search-button{
    position: relative;
    z-index: 1;
    float: right;
    background: white;
}
.search-panel button{
    cursor: pointer;
    border: 0;
    font-size: 18px;
    text-indent: -999em;
    float: left;
    width: 73px;
    height: 33px;
}

.search-status-focus label, .search-status-focus .search-panel-fields s {
    display: none
}

.search-combobox {
    margin-left: 3px;
}

.search-panel-fields .search-combobox input {
    left: 0;
    /*padding-right: 3px; */
}

.search-panel-fields label {
}

.search-panel-fields input{
    left: -3px;
    width: 100%;
    outline: none;
    padding-right: 3px;
    text-indent: 5px;
}
.search-combobox-input-wrap{
    margin-right: 3px;
    position: relative;
}
/* 搜本店 */
.search-panel-two-buttons .search-panel-fields{
    margin-right: 149px;
}
.search-panel button.btn-searchshop{
    background-image: url("demo/images/bg-btn-searchshop.png");
    margin-left: 3px;
}
.search-panel button.btn-searchshop:hover{
    background-image: url("demo/images/bg-btn-searchshop-hover.png");
}
/* list的样式 */
.search-type{
    position: relative;
    float: left;
    border: 3px solid #e6e6e6;
    width: 54px;
}
.search-type ul{
    text-indent: 10px;
    line-height: 25px;
}
.search-type ul a{
    display: block;
    border-top: 1px solid white;
    color: #666;
}
.search-type ul a.selected{
    margin-bottom: 3px;
    border-top-color: #f5f5f5;

}
.search-type b{
    position: absolute;
    right: 10px;
    top: 11px;
    width: 0;
    height: 0;
    border-width: 4px 4px;
    border-style: solid;
    border-color: #666 transparent transparent;
    _border-color: #666 #f7f7f7 #f7f7f7 #f7f7f7;
    font-size: 0;
    line-height: 0;
    -webkit-transition: -webkit-transform .2s ease-in;
    -moz-transition: -moz-transform .2s ease-in 0s;
    -o-transition: -o-transform .2s ease-in;
    transition: transform .2s ease-in;
}
.search-list-panel .search-combobox{
    margin-left: -3px;
}
.search-list-panel .search-panel-fields{
    margin-left: 60px;
    margin-right: 149px;
}
.search-list-panel .search-panel-fields label{
    left: 10px;
}

.search-list-panel-focused .search-type{
    border-color: #e4445c;
}
.search-list-panel-focused .search-panel-fields{
    background: #e4445c;
}
.search-panel-focused .search-panel-fields input,
.search-list-panel-focused .search-panel-fields input{
    border-top: 0;
    padding-top: 5px;
    background:transparent url("demo/images/bg-input.png") no-repeat;
}
.search-panel button.btn-searchall{
    background-image: url("demo/images/bg-btn-searchall.png");
    margin-left: 3px;
}
.search-panel button.btn-searchall:hover{
    background-image: url("demo/images/bg-btn-searchall-hover.png");
}
.search-panel button.btn-list{
    background-image: url("demo/images/bg-btn-list.png");
}
/* 通用的专有样式 */
.search-triggers ul {
    overflow: hidden;
    zoom: 1
}

.search-triggers li {
    position: relative;
    zoom: 1;
    float: left
}

.search-triggers li a {
    float: left;
    height: 23px;
    line-height: 23px;
    padding: 0 12px;
    color: #333;
}

.search-triggers li a:hover {
    color: #F60 !important;
    text-decoration: underline;
}

.search-triggers li.selected a {
    background: #ff5700;
    font-weight: bold;
    padding: 0 15px;
    color: #fff;
    border-radius: 1px 1px 0 0
}

.search-triggers li.selected a span {
    color: #fff !important
}

.search-triggers li.selected a:hover span {
    color: #fff !important
}

.search-triggers li.selected a:hover {
    color: #fff !important;
    text-decoration: none
}

.search-triggers .search-fix {
    display: none
}

.search-triggers li.selected .search-fix {
    display: block
}
.search-panel button.btn-search{
    background-image: url("demo/images/bg-btn-search.png");
}
.search-panel button.btn-search:hover{
    color: #333;
}
.search-panel-focused .search-panel-fields,
.search-common-panel{
    background: #ff5500;
}
/* sns */
.search-sns-panel-field input{
    top: 0;
}
.search-sns-panel-field .search-combobox{
    margin-left: 0;
}
.search-sns-panel-field{
    width: 322px;
    float: right;
    background: white;
    height: 27px;
    margin-top: 4px;
    margin-right: 4px;
}
.search-sns-panel-field .search-panel-fields{
    margin-right: 72px;
}
.search-sns-panel-field label{
    top: 5px;
}
.search-sns-panel-field button.btn-search{
    text-indent: 0;
    font-size: 12px;
    color: #666;
    background: #f5f5f5;
    height: 27px;
    width: 72px;
    border-left: 1px solid #d9d9d9;
}
.search-sns-panel-field .search-panel-fields{
    height: 27px;
}
.search-sns-panel-field .search-combobox{
    margin-left: 0;
}
.search-sns-panel-field .search-combobox-input-wrap{
    height: 27px;
}
.search-sns-panel-field .search-combobox-input{
    top: 0;
    background: white;
}